In [1]:
import pandas as pd

# Load data

In [2]:
data_google = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Google')
data_amazon = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Amazon')
data_tesla = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Tesla')
data_orange = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Orange')
data_rolex = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Rolex')
data_samsung = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Samsung')
data_sbb = pd.read_excel('./data/Data French difficulty.xls', sheet_name='SBB')
data_swisscom = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Swisscom')
data_ubs = pd.read_excel('./data/Data French difficulty.xls', sheet_name='UBS')

# Team Google data as Train & Validation

In [3]:
train_google_a1 = data_google[data_google['Difficulty'] == 'A1'].sample(frac = 0.9)
validation_google_a1 = data_google[data_google['Difficulty'] == 'A1'].drop(train_google_a1.index)

train_google_a2 = data_google[data_google['Difficulty'] == 'A2'].sample(frac = 0.9)
validation_google_a2 = data_google[data_google['Difficulty'] == 'A2'].drop(train_google_a2.index)

train_google_b1 = data_google[data_google['Difficulty'] == 'B1'].sample(frac = 0.9)
validation_google_b1 = data_google[data_google['Difficulty'] == 'B1'].drop(train_google_b1.index)

train_google_b2 = data_google[data_google['Difficulty'] == 'B2'].sample(frac = 0.9)
validation_google_b2 = data_google[data_google['Difficulty'] == 'B2'].drop(train_google_b2.index)

train_google_c1 = data_google[data_google['Difficulty'] == 'C1'].sample(frac = 0.9)
validation_google_c1 = data_google[data_google['Difficulty'] == 'C1'].drop(train_google_c1.index)

train_google_c2 = data_google[data_google['Difficulty'] == 'C2'].sample(frac = 0.9)
validation_google_c2 = data_google[data_google['Difficulty'] == 'C2'].drop(train_google_c2.index)

In [4]:
full_train_google = pd.concat([train_google_a1, train_google_a2, train_google_b1, train_google_b2, train_google_c1, train_google_c2])
full_validation_google = pd.concat([validation_google_a1, validation_google_a2, validation_google_b1, validation_google_b2, validation_google_c1, validation_google_c2])

In [5]:
full_train_google.to_csv('./data/train-dataset.csv', index=False)
full_validation_google.to_csv('./data/validation-dataset.csv', index=False)

# Other Teams as Test

In [6]:
data_amazon = data_amazon[['Phrases', 'Type (Aleks)']]
data_amazon = data_amazon.rename(columns={"Phrases": "Text", "Type (Aleks)": "Difficulty"})

data_rolex = data_rolex[['Text', 'A0 Difficulty']]
data_rolex = data_rolex.rename(columns={"A0 Difficulty": "Difficulty"})

data_swisscom = data_swisscom[['Texte ', 'Difficulty']]
data_swisscom = data_swisscom.rename(columns={"Texte ": "Text"})

data_tesla = data_tesla[['Text', 'Difficulty']]
data_orange = data_orange[['Text', 'Difficulty']]
data_rolex = data_rolex[['Text', 'Difficulty']]
data_samsung = data_samsung[['Text', 'Difficulty']]
data_sbb = data_sbb[['Text', 'Difficulty']]
data_ubs = data_ubs[['Text', 'Difficulty']]

In [7]:
dataset_test = pd.concat([data_amazon, data_rolex, data_swisscom, data_tesla, data_orange, data_rolex, data_samsung, data_sbb, data_ubs])

In [18]:
dataset_test.reset_index(inplace)

      index                                               Text Difficulty
0         0  La formation s'achèvera par un contrôle pour s...         B2
1         1  Des sanctions administratives et des ordonnanc...         C1
2         2  Le canidé, d'un âge avancé, a été bien malgré ...         C1
3         3               Tout savoir avant d’adopter un chat.         A2
4         4   Le chat, le nouveau « meilleur ami de l'homme ».         A2
...     ...                                                ...        ...
8173    994  La vieille acquiesça de la tête, sous sa grand...         C2
8174    995  Il fallait qu’il débitât les nouvelles apprise...         C2
8175    996  Vous eussiez dit deux éclairs bleuâtres, parei...         C2
8176    997  Elle dénoua le ruban qui attachait le manche d...         C2
8177    998  Il y avait dans sa voix, dans son regard, dans...         C2

[8178 rows x 3 columns]

In [13]:
dataset_test = dataset_test.dropna()

In [14]:
dataset_test.to_csv('./data/test-dataset.csv', index=False)