In [40]:
import pandas as pd

# Load data

In [86]:
data_google = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Google')
data_amazon = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Amazon')
data_tesla = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Tesla')
data_orange = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Orange')
data_rolex = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Rolex')
data_samsung = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Samsung')
data_sbb = pd.read_excel('./data/Data French difficulty.xls', sheet_name='SBB')
data_swisscom = pd.read_excel('./data/Data French difficulty.xls', sheet_name='Swisscom')
data_ubs = pd.read_excel('./data/Data French difficulty.xls', sheet_name='UBS')

# Team Google data as Train & Validation

In [87]:
train_google_a1 = data_google[data_google['Difficulty'] == 'A1'].sample(frac = 0.9)
validation_google_a1 = data_google[data_google['Difficulty'] == 'A1'].drop(train_google_a1.index)

train_google_a2 = data_google[data_google['Difficulty'] == 'A2'].sample(frac = 0.9)
validation_google_a2 = data_google[data_google['Difficulty'] == 'A2'].drop(train_google_a2.index)

train_google_b1 = data_google[data_google['Difficulty'] == 'B1'].sample(frac = 0.9)
validation_google_b1 = data_google[data_google['Difficulty'] == 'B1'].drop(train_google_b1.index)

train_google_b2 = data_google[data_google['Difficulty'] == 'B2'].sample(frac = 0.9)
validation_google_b2 = data_google[data_google['Difficulty'] == 'B2'].drop(train_google_b2.index)

train_google_c1 = data_google[data_google['Difficulty'] == 'C1'].sample(frac = 0.9)
validation_google_c1 = data_google[data_google['Difficulty'] == 'C1'].drop(train_google_c1.index)

train_google_c2 = data_google[data_google['Difficulty'] == 'C2'].sample(frac = 0.9)
validation_google_c2 = data_google[data_google['Difficulty'] == 'C2'].drop(train_google_c2.index)

In [88]:
full_train_google = pd.concat([train_google_a1, train_google_a2, train_google_b1, train_google_b2, train_google_c1, train_google_c2])
full_validation_google = pd.concat([validation_google_a1, validation_google_a2, validation_google_b1, validation_google_b2, validation_google_c1, validation_google_c2])

In [89]:
full_validation_google.Difficulty.nunique()

6

In [92]:
full_validation_google.Text = full_validation_google.Text.apply(lambda x: '"' + x + '"')
full_train_google.Text = full_train_google.Text.apply(lambda x: '"' + x + '"')

In [91]:
full_validation_google

                                                   Text Difficulty
14    "Réservez vos billets dans le bureau 127 de l’...         A1
16    "j’espère vous avoir près de moi pour une joli...         A1
19    "Et après, on peut prendre un bain dans la pis...         A1
29    "L’école organise un festival de musique le 21...         A1
45            "On va manger des glaces et des bonbons."         A1
...                                                 ...        ...
983   "La Fondation La Main à la pâte a été créée en...         C2
998   "En attendant, des petites formations ont été ...         C2
1000  "Notre pays a intérêt à développer la culture ...         C2
1004  "Une machine, ça se contrôle, ça obéit à des i...         C2
1008  "Un enseignement scolaire pour créer des liens...         C2

[102 rows x 2 columns]

In [5]:
full_train_google.to_csv('./data/train-dataset.csv', index=False)
full_validation_google.to_csv('./data/validation-dataset.csv', index=False)

# Other Teams as Test

In [42]:
data_amazon = data_amazon[['Phrases', 'Type (Aleks)']]
data_amazon = data_amazon.rename(columns={"Phrases": "Text", "Type (Aleks)": "Difficulty"})

data_rolex = data_rolex[['Text', 'A0 Difficulty']]
data_rolex = data_rolex.rename(columns={"A0 Difficulty": "Difficulty"})

data_swisscom = data_swisscom[['Texte ', 'Difficulty']]
data_swisscom = data_swisscom.rename(columns={"Texte ": "Text"})

data_tesla = data_tesla[['Text', 'Difficulty']]
data_orange = data_orange[['Text', 'Difficulty']]
data_rolex = data_rolex[['Text', 'Difficulty']]
data_samsung = data_samsung[['Text', 'Difficulty']]
data_sbb = data_sbb[['Text', 'Difficulty']]
data_ubs = data_ubs[['Text', 'Difficulty']]

In [43]:
dataset_test = pd.concat([data_amazon, data_rolex, data_swisscom, data_tesla, data_orange, data_rolex, data_samsung, data_sbb, data_ubs])

In [51]:
dataset_test = dataset_test.dropna()
dataset_test = dataset_test.drop(dataset_test[dataset_test.Difficulty == 'BW'].index)
dataset_test = dataset_test.reset_index(drop=True)
dataset_test.Difficulty = dataset_test.Difficulty.replace(' B1', 'B1')

In [52]:
dataset_test.Difficulty.nunique()

6

In [68]:
dataset_test.to_csv('./data/test-dataset.csv', index=False)

ModuleNotFoundError: No module named 'xlwt'