In [ ]:
!pip install google-cloud-translate==2.0.1

In [ ]:
# https://itnext.io/string-similarity-the-basic-know-your-algorithms-guide-3de3d7346227
!pip install textdistance

In [9]:
import pandas as pd
import textdistance

# Translate API
from googleapiclient.discovery import build
service = build('translate', 'v2', developerKey='THE_API_KEY')

In [11]:
data = pd.read_csv('/content/max-dataset.csv')

In [24]:
data.loc[0, 'Text_english_translation'] = 'test'

In [30]:
for index, row in data.iterrows():
    result = service.translations().list(source='fr', target='en', q=row.loc['Text']).execute()
    data.loc[index, 'Text_english_translation'] = result['translations'][0]['translatedText']

In [32]:
data

                                                   Text  ...                           Text_english_translation
0     Je recherche une personne pour garder mes enfa...  ...  I am looking for a person to look after my chi...
1     Il faut être disponible pour travailler les je...  ...  You must be available to work Thursday, Friday...
2     Vous devez habiter dans le centre de Limoges o...  ...  You must live in the center of Limoges or have...
3                Expérience avec les enfants souhaitée.  ...                  Experience with children desired.
4                  Si vous êtes intéressé, appelez-moi.  ...             If you are interested, give me a call.
...                                                 ...  ...                                                ...
9169  La vieille acquiesça de la tête, sous sa grand...  ...  The old woman nodded, under her large old-fash...
9170  Il fallait qu’il débitât les nouvelles apprise...  ...  He had to spread the news he learned from one ...
9171  Vous eussiez dit deux éclairs bleuâtres, parei...  ...  You would have said two bluish flashes, like t...
9172  Elle dénoua le ruban qui attachait le manche d...  ...  She untied the ribbon that tied the handle of ...
9173  Il y avait dans sa voix, dans son regard, dans...  ...  There was in her voice, in her gaze, in her ge...

[9174 rows x 3 columns]

In [31]:
data.to_csv('max-dataset-with-translation.csv', index = False)

In [35]:
for index, row in data.iterrows():
    data.loc[index, 'hamming'] = textdistance.hamming(row['Text'], row['Text_english_translation'])
    data.loc[index, 'hamming_normalized_similarity'] = textdistance.hamming.normalized_similarity(row['Text'], row['Text_english_translation'])
    data.loc[index, 'levenshtein'] = textdistance.levenshtein(row['Text'], row['Text_english_translation'])
    data.loc[index, 'levenshtein_normalized_similarity'] = textdistance.levenshtein.normalized_similarity(row['Text'], row['Text_english_translation'])
    data.loc[index, 'jaro_winkler'] = textdistance.jaro_winkler(row['Text'], row['Text_english_translation'])

    tokens_1 = row['Text'].split()
    tokens_2 = row['Text_english_translation'].split()
    data.loc[index, 'jaccard'] = textdistance.jaccard(tokens_1 , tokens_2)
    data.loc[index, 'sorensen'] = textdistance.sorensen(tokens_1 , tokens_2)

In [37]:
data.head(5)

                                                Text  ...  sorensen
0  Je recherche une personne pour garder mes enfa...  ...  0.133333
1  Il faut être disponible pour travailler les je...  ...  0.000000
2  Vous devez habiter dans le centre de Limoges o...  ...  0.083333
3             Expérience avec les enfants souhaitée.  ...  0.000000
4               Si vous êtes intéressé, appelez-moi.  ...  0.000000

[5 rows x 10 columns]

In [36]:
data.to_csv('max-dataset-with-translation-and-cognates.csv', index = False)